@import "../settings"

.product
  display: flex
  width: 100%
  margin: .5rem 0
  //flex-wrap: wrap
  .product__img
    display: flex
    align-items: center
  h3
    font-family: 'Lobster', cursive
@media(min-width: $desktop-width)
  .product
    padding: 2% 0
    line-height: 2rem
    font-size: 1.1rem
    //h3
    //  margin: 0 0 .5rem 0
    //  width: 90%
    > div
      padding: 0 .6rem
    .product__img
      img
        width: 30rem
@media(max-width: $desktop-width)
  .product
    padding: 2% 0
    line-height: 1.4rem
    font-size: 1rem
    //h3
    //  margin: 0 0 .5rem 0
    //  width: 100%
    > div
      padding: 0 .3rem
    .product__img
      img
        width: 5rem