html
    head
        title Shop
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        div.content
            div.about
                h1.title
                    | Хлеба из натуральных ингредиентов,
                    br
                    | без улучшителей и консервантов
            hr
            div.products
            hr
            div.contacts
                div.contacts__map
                    div#map
                div.contacts__details
                    div.address
                        span
                            b Адрес производства:&nbsp;
                            | Республика Беларусь, Витебская обл., г. Полоцк, ул. Космонавтов, д. 120А
                    div.phone
                        span
                            b Телефон:&nbsp;
                            a(href="tel:+37533-690-40-90") +37533 690-40-90
                                img(src='./icons/phone.svg')
                    div.email
                        span
                            b E-mail:&nbsp;
                            a(href="mailto:babik123@yandex.ru") babik123@yandex.ru
                                img(src='./icons/email.svg')