html
    head
        title Shop
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        div.content
            div.about
                h1.title
                    | Хлеба из натуральных ингредиентов,
                    br
                    | без улучшителей и консервантов
            hr
            div.products
                div.product
                    div.product__img
                        img(src='./images/bread_1.jpg')
                    div.product__about
                        h3 Хлеб "Ржаной край" формовой
                        div
                            b Состав:
                            |  мука ржаная, мука обдирная, закваска, вода, солод ячменный, соль пищевая йодированная, кориандр
                        div
                            b Срок годности:
                            |  72 часа
                        div
                            b Сертификат:
                            |  СТБ
                        div
                            b Масса:
                            |  350 г
                        div
                            b Цена:
                            |  0
                            sup 90
                            |  р
                div.product.align-right
                    div.product__about
                        h3 Хлеб "Ржаной край" зерновой
                        div
                            b Состав:
                            |  мука ржаная, мука обдирная, закваска, вода, семена тыквы, семена льна, семена подсолнечника, кунжут,
                            | солод ячменный, соль пищевая йодированная, кориандр
                        div
                            b Срок годности:
                            |  72 часа
                        div
                            b Сертификат:
                            |  СТБ
                        div
                            b Масса:
                            |  350 г
                        div
                            b Цена:
                            |  1
                            sup 00
                            |  р
                    div.product__img
                        img(src='./images/bread_1.jpg')
                div.product
                    div.product__img
                        img(src='./images/bread_2.jpg')
                    div.product__about
                        h3 Хлеб из пшеничной муки формовой
                        div
                            b Состав:
                            |  мука высшего и первого сортов, вода, дрожжи, соль пищевая йодированная
                        div
                            b Срок годности:
                            |  72 часа
                        div
                            b Сертификат:
                            |  СТБ
                        div
                            b Масса:
                            |  350 г
                        div
                            b Цена:
                            |  0
                            sup 85
                            |  р
                div.product.align-right
                    div.product__about
                        h3 Хлеб из пшеничной муки "Матнакаш"
                        div
                            b Состав:
                            |  мука высшего и первого сортов, закваска, вода, соль пищевая йодированная, кунжут
                        div
                            b Срок годности:
                            |  72 часа
                        div
                            b Сертификат:
                            |  СТБ
                        div
                            b Масса:
                            |  400 г
                        div
                            b Цена:
                            |  1
                            sup 10
                            |  р
                    div.product__img
                        img(src='./images/bread_2.jpg')
            hr
            div.contacts
                div.contacts__map
                    div#map
                div.contacts__details
                    div.address
                        span
                            b Адрес производства:&nbsp;
                            | Республика Беларусь, Витебская обл., г. Полоцк, ул. Космонавтов, д. 120А
                    div.phone
                        span
                            b Телефон:&nbsp;
                            a(href="tel:+37529-123-99-99") +37529 123-99-99
                    div.email
                        span
                            b e-mail:&nbsp;
                            a(href="mailto:babik123@yandex.ru") babik123@yandex.ru